<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes da Thread</title>
</head>
<body>
    <div th:replace="layout :: content">
        <h1 th:text="${thread.titulo}">Título da Thread</h1>
        <p th:text="${thread.conteudo}">Conteúdo da Thread</p>

        <h2>Comentários</h2>
        <ul>
            <li th:each="comentario : ${comentarios}">
                <p th:text="${comentario.conteudo}">Conteúdo do comentário</p>
            </li>
        </ul>

        <a class="btn btn-secondary" th:href="@{'/threads/' + ${thread.id} + '/comentarios/novo'}">Adicionar Comentário</a>
    </div>
</body>
</html>