<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Threads</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div th:replace="~{layout :: menu}">

        -- Exibir mensagens de feedback
        <div th:if="${mensagemSucesso}" class="alert alert-success" role="alert">
            <p th:text="${mensagemSucesso}"></p>
        </div>
        <div th:if="${mensagemErro}" class="alert alert-danger" role="alert">
            <p th:text="${mensagemErro}"></p>
        </div>
    
        <h1 class="my-4">Lista de Threads</h1>
        
        <ul class="list-group">
            <li th:each="thread : ${threads}" class="list-group-item">
                <a th:href="@{'/threads/' + ${thread.id}}" class="text-decoration-none">[[${thread.titulo}]]</a>
            </li>
        </ul>
    
        <a href="/threads/nova" class="btn btn-primary mt-4">Criar Nova Thread</a>
    
    </div>
</body>
</html>