<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
        </head>
        <body>
            <h1>Pedido Finalizado com Sucesso!</h1>
            <p>Obrigado por comprar conosco! Seu pedido foi concluído e logo estará em suas mãos!.</p>
            <a href="/loja" class="btn btn-primary">Voltar à Loja</a>
            <a href="/" class="btn btn-secondary">Voltar para Home</a>
        </body>
        </html>