<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <br>
            <h1>NUTRIWEBCommerce</h1>

    <br>
    <div class="row">
        <div class="col-md-4" th:each="produto : ${produtos}">
            <div class="card">
                <div class="card-body">
                    <img th:src="${produto.imagemUrl}" class="card-img-top produto-imagem" alt="Imagem do Produto">
                    <h5 class="card-title" th:text="${produto.descricao}"></h5>
                    <p>Preço: R$ <span th:text="${produto.valor}"></span></p>
                    <a th:href="@{/loja/produto(id=${produto.id})}" class="btn btn-info">Ver Detalhes</a>
                    <form th:action="@{/pedidos/comprar}" method="post">
                        <input type="hidden" name="produtoId" th:value="${produto.id}" />
                        <button type="submit" class="btn btn-success mt-2">Comprar Já</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>