:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFA500;
    --text-color: #333;
    --background-color: #F4F9F4;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: var(--primary-color);
    color: #FFFFFF;
}
.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-primary:hover {
    background-color: darken(var(--secondary-color), 10%);
}